exportPattern("^[^\\.]")
import(data.table)
import(httr)
import(tidyr)
import(methods)
export(txtList)
export(Extractor)
export(.txtList)
export(pubtator)
exportClasses(eutils)
exportClasses(fetch)
exportClasses(search)
exportMethods("$")
exportMethods("[")
exportMethods(Extractor)
